/**
 * Hide <select> and submit-button
 */
#views-exposed-form-filter-magazine-page-1 .form-type-select {
   display: none;
}
#views-exposed-form-filter-magazine-page-1 .form-submit {
	display: none;
}

/**
 * Pure styling, should probably be put in your theme stylesheet
 * instead of in this module
 */ 
.magazine-list {

	display: block;
  text-align: left;
  margin: 0 auto;
  padding: 0;
  font-family: "montserratsemibold",sans-serif;
  font-size: 12px;
}

.magazine-list li {

  margin: 25px 5px 25px 0;
  float: none;
  display: inline-block;
  margin: 25px 5px 25px 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #ff4350;
}

.magazine-list li a {

  background-color: #ffffff;
  height: 40px;
  border-radius: 40px;
  padding: 10px 16px 9px;
  line-height: 23px;
  text-decoration: none;
  border-bottom: none;

}
.magazine-list li a.form-select .form-control {

	background-color: #0071b3;

}
.view-filter-magazine .views-row{

	float: left;
	padding: 15px;

}